@using TaskScheduler.Core.Enums;
@model TaskScheduler.Web.Models.Shutdown.ShutdownViewModel

@{
    ViewBag.Title = "Edit Shutdown";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit Shutdown</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.Name</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.PreviousName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShutdownDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShutdownDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShutdownDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShutdownTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShutdownTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ShutdownTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsEnabled, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.IsEnabled)
                    @Html.ValidationMessageFor(model => model.IsEnabled, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsRecurring, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.IsRecurring)
            </div>
        </div>

        <div id="recurrence-fields" style="display:none">
            <div class="form-group">
                @Html.LabelFor(model => model.Recurrence, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.DropDownList("Recurrence", EnumHelper.GetSelectList(typeof(RecurrenceType)), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RecurrenceEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RecurrenceEndDate, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RecurrenceEndDate, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Shutdown")';">Back to List</button>
                <input type="button" value="Save Changes" class="btn btn-success" onclick="checkAndSubmit()" />
            </div>
        </div>
    </div>
    
    <!-- Modal dialog to confirm edit of linked shutdown -->
    <div class="modal fade bs-confirm-edit-linked-modal" tabindex="-1" role="dialog" aria-labelledby="Confirm Edit" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">x</button>
                    <h3 class="modal-title">Confirm Edit</h3>
                </div>
                <div class="modal-body">
                    <p>It looks like you are changing the name of a scheduled shutdown that is linked to a recording task. If you do this, any future updates to the recording will not be reflected in the shutdown task.</p>
                    <p>Are you sure you want to continue?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    <input type="submit" value="Continue" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
}

<script language="JavaScript">
    var linkedRecordingExistsEndpoint = '@Url.Action("LinkedRecordingExists", "Shutdown")';
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Shared/Create.js")
    @Scripts.Render("~/Scripts/Shutdown/Edit.js")
}